body {
    overflow-x: hidden;
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4 {
    font-weight: 100;
}

.red {
    color: #691b18;
}

.massive {
    font-size: 8vw;
    font-weight: 100;
    color: #ac2925;
}

.title {
    font-size: 4vw;
    font-weight: 100;
    color: #e3e3e3;
}

.mini {
    font-size: 2vw;
    font-weight: 100;
    color: #ac2925;
}

@media (max-width: 768px) {
    .massive {
        font-size: 20vw;
    }

    .title {
        font-size: 8vw;
    }

    .mini {
        font-size: 4vw;
    }
}

h1.section-heading {
    padding: 0 0.5em 0 0.5em;
}

.bulbs.photo {
    background-image: url('../img/landing-parallax.jpg');
}

.landing {
    background: #c9544a;
    background: -webkit-radial-gradient(#FF6357, #9a2720);
    background: -o-radial-gradient(#FF6357, #9a2720);
    background: -moz-radial-gradient(#FF6357, #9a2720);
    background: radial-gradient(#FF6357, #9a2720);
    min-height: 100vh !important;
}

.presentation.photo {
    background-image: url('../img/best-presentation.jpg');
}

.photo {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: repeat-x;
}

footer {
    padding: 0 1em 0 1em;
    color: #ffffff;
    font-weight: 200;
}

footer ul li {
    padding: 1rem;
}

footer i {
    transition: all 0.3s ease-out;
}

footer i:hover {
    transform: scale(1.3);
}

footer i {
    text-shadow: none;
}

footer a {
    color: #e3e3e3;
    transition: all 0.3s ease-out;
}

footer a:hover {
    color: #b92c28;
}

input[type=text], input[type=email] {
    font-size: 1.5rem;
}

textarea {
    font-size: 1.5rem;
    resize: none;
}

#contact-form {
    box-shadow: none;
    background: none;
    opacity: 1;
    color: #e3e3e3;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.5rem;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.5rem;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.5rem;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 1.5rem;
}

.ng-dirty.ng-invalid, .ng-touched.ng-invalid {
    border-color: #353535;
    background: rgba(53, 53, 53, 0.5);
    color: #000;
}

.ng-dirty.ng-valid {
    box-shadow: 0 0 15px white;
    border-color: white;
    background: rgba(255, 255, 255, 0.5);
    color: #353535;
}

.form-control {
    background: transparent;
}

.form-control:focus {
    border-color: #ffc88f;
    box-shadow: 0 0 5px #ffc88f;
    background: rgba(255, 200, 143, 0.8);
    color: #353535;
}

.social ul li a:not(.btn):visited {
    color: #ffc88f;
}

.social ul li a:not(.btn):hover {
    color: #b92c28;
}

/* Donate button animation */
.event-action {
    position: relative;
    overflow: hidden;
}

.event-action > .btn {
    transition: all 0.4s;
    background: transparent;
    color: #e3e3e3;
}

.top.content {
    position: relative;
    top: 0;
}

.bottom.content {
    position: absolute;
    top: 40px;
    left: 27px;
}

.btn:hover .top {
    top: -40px;
}

.btn:hover .bottom {
    top: 7px;
    color: #b92c28;
}

.btn .content {
    transition: all 0.4s;
}

/* Send button animation */
#contact-form .btn {
    background: transparent;
    color: #e3e3e3;
}

.send {
    overflow: hidden;
}

.fa-paper-plane {
    position: relative;
    top: 0;
    right: 0;
    opacity: 1;
    transition: all 0.4s;
}

.send:hover .fa-paper-plane {
    top: -20px;
    right: -20px;
    opacity: 0;
}

#contact-form .btn:not(.disabled) {
    color: white;
    box-shadow: 0 0 15px white;
    border-color: white;
}

.pad {
    padding: 0 1.5em 0 1.5em;
}

.headliner {
    min-height: 50vh;
    margin: 25vh 0;
}

.stats-container {
    padding: 5em 0;
}

.stats-container i.fa {
    padding: 0.5em;
    border: solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

section.tab-panel ul.nav-tabs li a i {
    font-size: 5vmin;
}

section.projects {
    background: #e3e3e3;
    color: #353535;
    border-top: solid #353535;
    border-bottom: solid #353535;
    padding: 1em 0 1em 0;
}

section.teams {
    background: #353535;
    color: #e3e3e3;
    border-top: solid #e3e3e3;
    border-bottom: solid #e3e3e3;
    padding: 1em 0 1em 0;
}

hr.teams.divider {
    border-color: #e3e3e3;
}

hr.projects.divider {
    border-color: #353535;
}

section.teams ul.nav-tabs {
    border-color: #e3e3e3;
}

section.teams ul.nav-tabs li {
    float: left;
    transition: all 0.3s;
}

section.projects ul.nav-tabs {
    border-color: #353535;
}

section.projects ul.nav-tabs li {
    float: right;
}

section.teams ul.nav-tabs a {
    color: #e3e3e3;
}

section.projects ul.nav-tabs a {
    color: #353535;
}

section.projects .nav-tabs > li.active > a,
section.projects .nav-tabs > li > a:hover {
    color: #e3e3e3;
    background: #353535;
}

section.teams .nav-tabs > li.active > a,
section.teams .nav-tabs > li > a:hover {
    color: #353535;
    background: #e3e3e3;
}

ul.nav.nav-tabs > li:hover {
    cursor: pointer;
}

section.projects .pad h1 {
    text-align: right;
    padding: inherit;
}

.tab-pane {
    padding: 0;
}

.tab-pane .pad {
    padding: 2em;
}

.project-desc {
    text-align: justify;
}

.profile-wrapper {
    white-space: nowrap;
    overflow: scroll;
}

.profile {
    background: #353535;
    cursor: pointer;
    border: none;
    margin: 0.5em;
    color: #e3e3e3;
    height: 30em;
    width: 27em;
    display: inline-block;
    overflow: auto;
    white-space: normal;
    padding: 0 1em 0 1em;
}

section.teams .profile {
    background: #e3e3e3;
    color: #353535;
}

#project-profile-modal .modal-content {
    color: #e3e3e3;
    background: #353535;
}

#teams-profile-modal .modal-content {
    background: #e3e3e3;
    color: #353535;
}

.profile.animated:nth-child(1) {
    -webkit-animation-delay: .1s
}

.profile.animated:nth-child(2) {
    -webkit-animation-delay: .2s
}

.profile.animated:nth-child(3) {
    -webkit-animation-delay: .3s
}

.profile.animated:nth-child(4) {
    -webkit-animation-delay: .4s
}

.profile.animated:nth-child(5) {
    -webkit-animation-delay: .5s
}

.profile.animated:nth-child(6) {
    -webkit-animation-delay: .6s
}

.profile.animated:nth-child(7) {
    -webkit-animation-delay: .7s
}

.profile.animated:nth-child(8) {
    -webkit-animation-delay: .8s
}

.profile.animated:nth-child(9) {
    -webkit-animation-delay: .9s
}

.profile.animated:nth-child(10) {
    -webkit-animation-delay: .10s
}

.profile img, .profile-modal img {
    padding: 1.5em 0 1.5em 0;
    transition: all 0.5s;
    height: 200px;
    width: 150px;
}

.profile p:not(.lead) {
    text-align: justify;
}

.profile img:hover {

}
