body {
}

header .container {
    background-color: transparent;
}

header img {
    height: 1em;
}

header a:link {
    color: inherit;
}

header .row {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header a {
    padding: 0 20px;
}

.parallax-window {
    min-height: 2000px;
    background: transparent;
}

footer ul li {
    padding: 1rem;
}

input[type=text], input[type=email] {
    font-size: 1.5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.5rem;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.5rem;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.5rem;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1.5rem;
}

textarea {
    resize: none;
    font-size: 1.5rem;
}

.pad {
    padding: 0 1.5em 0 1.5em;
}

.social li {
    padding-right: 2.25rem;
}