body {
    background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));;
}

.navbar-header {
    background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.5));
    color: white;
}

.navbar-collapse {
    background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
    color: white;
}

nav a {
    padding: 0 20px;
    color: #fff;
}

nav a:link, nav a:active {
    color: #fff;
}

nav a:hover {
    color: #b92c28;
}

.parallax-window {
    min-height: 1500px;
    background: transparent;
}

.tab-pane {
    padding: 3em;
}

.nav-tabs a {
    color: #000;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover
{
    color: #b92c28;
}

footer ul li {
    padding: 1rem;
}

footer i {
    color: #b92c28;
}

label {
    color: #b92c28;
}

input[type=text], input[type=email] {
    font-size: 1.5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.5rem;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.5rem;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.5rem;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1.5rem;
}

textarea {
    resize: none;
    font-size: 1.5rem;
}

.pad {
    padding: 0 1.5em 0 1.5em;
}

.social li {
    padding-right: 2.25rem;
}

.social a:link {
    color: #000;
}

.social a:hover, .social a:visited {
    color: #b92c28;
}