<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BEST is UBC's Biomedical Engineering Student Team, dedicated to effect a positive impact on global healthcare.">
    <meta name="keywords" content="ubc, best, biomedical, engineering, student, team, healthcare, imdi">
    <meta name="author" content="Rahat Dhande and Ryan Wong">

    <script src="../static/assets/js/jquery-2.2.1.min.js"></script>
    <script src="../static/assets/js/jquery-ui.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/angular.min.js"></script>
    <script src="../static/assets/js/angular-route.js"></script>
    <script src="../static/assets/js/parallax.min.js"></script>
    <script src="../static/assets/js/responsive-tabs.js"></script>
    <script src="../static/angular/app.js"></script>
    <script src="../static/angular/controllers/welcomeController.js"></script>
    <script src="../static/angular/controllers/teamsController.js"></script>
    <script src="../static/angular/controllers/projectsController.js"></script>
    <script src="../static/angular/directives/headerFooter.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <title>best &middot biomedical engineering student team</title>

    <link rel="shortcut icon" type="image/gif" href="../static/img/best-logo-icon.gif">
</head>
<body>
<!--
<header class="container">
    <div class="row">
        <h2 class="col-md-4">ubc&nbsp;<span style="color: #b92c28">best</span></h2>
        <nav class="col-md-8 text-right">
            <a href="index.html"><i class="fa fa-fort-awesome">&nbsp;main</i></a>
            <a href="teams.html"><i class="fa fa-users">&nbsp;teams</i></a>
            <a href="projects.html"><i class="fa fa-briefcase">&nbsp;projects</i></a>
        </nav>
    </div>
</header>
-->

<best></best>

<div ng-view></div>

<connect></connect>

</body>
</html>
