<footer>

    <div class="row">
        <h1 class="col-xs-12 text-center">Get in touch</h1>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 social pad">
            <h3>Social</h3>
            <p>Connect with us.</p>
            <ul class="list-unstyled list-inline">
                <li><a class="col-sm-2" target="_blank" href="https://www.facebook.com/best.ubc/"><i
                        class="fa fa-facebook-f fa-lg"></i></a></li>
                <li><a class="col-sm-2" target="_blank" href="https://www.linkedin.com/groups/6731158/profile"><i
                        class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a class="col-sm-2" target="_blank" href="https://github.com/UBCBEST"><i
                        class="fa fa-github fa-lg"></i></a></li>
            </ul>
            <h3>Donate</h3>
            <p>Interested in helping support BEST? Our work could not be possible without our generous donors.</p>
            <div class="event-action">
                <a href="https://www.donate.startanevolution.ca/ea-action/action?ea.client.id=1730&ea.campaign.id=19413&Direct%20my%20Gift%20to%20Module=UBC%20Biomedical%20Engineering%20Student%20Team%20(BEST)%20G1236"
                   target="_blank" class="btn btn-default text-center">
                    <span class="top content">Donate</span>
                    <span class="bottom content"><i class="fa fa-heart"></i></span>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 info pad">
            <h3>Info</h3>
            <p>
                UBC BEST is a multidisciplinary student team of 80 students who are developing innovative solutions
                to identified challenges faced in the healthcare industry.
            </p>
            <ul class="list-unstyled">
                <li>
                    <a href="http://www.maps.ubc.ca/PROD/index_detail.php?locat1=312" target="_blank">
                        <i class="fa fa-map-marker fa-2x"></i></a>&nbsp; Vancouver, British Columbia
                </li>
                <li><a href="mailto:best.ubc@gmail.com"><i class="fa fa-envelope"></i></a>&nbsp; best.ubc@gmail.com</li>
                <li><a href="tel:778-886-9394"><i class="fa fa-mobile-phone fa-2x"></i></a>&nbsp; +01 (778) 886-9394
                </li>
            </ul>
        </div>

        <form id="contact-form" name="contactForm" method="post" class="col-md-6 col-xs-12 pad" autocomplete="off"
              novalidate>
            <h3>Contact</h3>
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    <label for="form-name"><i class="fa fa-user"></i>&nbsp; Name</label>
                    <input type="text" class="form-control input-lg required" id="form-name" placeholder="John Doe"
                           ng-model="message.name" required>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label for="form-email"><i class="fa fa-envelope"></i>&nbsp; Email</label>
                    <input type="email" class="form-control input-lg required" id="form-email"
                           placeholder="john@example.com" ng-model="message.email" required>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label for="form-subject"><i class="fa fa-pencil"></i>&nbsp; Subject</label>
                    <input type="text" class="form-control input-lg required" id="form-subject"
                           placeholder="Why I Love BEST" ng-model="message.subject" required>
                </div>
                <div class="form-group col-xs-12">
                    <label for="form-message"><i class="fa fa-file-text"></i>&nbsp; Message</label>
                    <textarea class="form-control" id="form-message" rows="5" placeholder="Message"
                              ng-model="message.body"
                              required></textarea>
                </div>
                <div class="form-group col-xs-12">
                    <a class="btn btn-default btn-sm send" ng-class="{ disabled:!contactForm.$valid || sent }"
                       ng-click="contactForm.$valid && sendMail(message)">
                        <span ng-hide="sent">Send&nbsp;&nbsp;<i class="fa fa-paper-plane"></i></span>
                        <span ng-show="sent">Sent&nbsp;&nbsp;<i class="fa fa-check"></i></span>
                    </a>
                </div>
            </div>
        </form>

    </div>
</footer>
