<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <a><i class="fa fa-bars"></i></a>
        </button>
        <p class="navbar-brand page-scroll">ubc&nbsp;<strong style="color:#b92c28">best</strong></p>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html"><i class="fa fa-fort-awesome"></i>&nbsp;main</a></li>
            <li><a href="teams.html"><i class="fa fa-users"></i>&nbsp;teams</a></li>
            <li><a href="projects.html"><i class="fa fa-briefcase"></i>&nbsp;projects</a></li>
        </ul>
    </div>
</nav>
