<section parallax-background class="projects photo" parallax-ratio="0.5">
    <div ng-controller="projectsController as ctrl">
        <h4 class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>I'm like, &quot;Hey, what's up? Hello.&quot;<br/>
                    Seen your pretty ass soon as you came in the door<br/>
                    I just wanna chill, got a sack for us to roll<br/>
                    Married to the money, introduced her to my stove<br/>
                    Showed her how to whip it, now she remixin' for low<br/>
                    She my trap queen, let her hit the bando<br/>
                    We be countin' up, watch how far them bands go<br/>
                    We just set a goal, talkin' matchin' Lambos<br/>
                    Got 50, 60 grand, prob' a hundred grams though<br/>
                    Man, I swear I love her how she work the damn pole<br/>
                    Hit the strip club, we be letting bands go<br/>
                    Everybody hating, we just call them fans though<br/>
                    In love with the money, I ain't ever letting go</p>

                <p>[Hook:]<br/>
                    And I get high with my baby<br/>
                    I just left the mall, I'm getting fly with my baby, yeah<br/>
                    And I can ride with my baby<br/>
                    I be in the kitchen cooking pies with my baby, yeah<br/>
                    And I can ride with my baby<br/>
                    I just left the mall, I'm getting fly with my baby, yeah<br/>
                    And I can ride with my baby<br/>
                    I be in the kitchen cooking pies with my baby</p>

                <p>(I'm like, &quot;Hey, what's up? Hello.&quot;)</p>

                <p>[Verse 2:]<br/>
                    I hit the strip with my trap queen 'cause all we know is bands<br/>
                    I just might snatch a 'Rari and buy my boo a Lamb'<br/>
                    I just might snatch her a necklace, drop a couple on a ring<br/>
                    She ain't wanting for nothin' because I got her everything<br/>
                    It's big Zoo Wap from the bando, without dinero can't go<br/>
                    Remy boys got the stamp, count up hella them bands though<br/>
                    How far can your bands go?<br/>
                    Fetty Wap I'm living fifty thousand K how I stand though<br/>
                    If you checking for my pockets I'm like</p>

                <p>[Hook]</p>

                <p>[Verse 1]</p>

                <p>I be smoking dope and you know Backwoods what I roll<br/>
                    Remy Boy, Fetty eating shit up that's fasho<br/>
                    I'll run in ya house, then I'll fuck your hoe<br/>
                    'Cause Remy Boyz or nothing, Re-Re-Remy Boyz or nothing</p>

                <p>[Outro:]<br/>
                    Yeah, you hear my boy<br/>
                    Sounding like a zillion bucks on a track<br/>
                    I got whatever on my boy, whatever<br/>
                    Put your money where your mouth is<br/>
                    Money on the wood make the game go good<br/>
                    Money outta sight cause fights<br/>
                    Put up or shut up</p>
            </div>
        </h4>
    </div>
</section>

<section>
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#donated" data-toggle="tab">DME</a></li>
        <li><a data-target="#idea" data-toggle="tab">EMR</a></li>
        <li><a data-target="#m2m" data-toggle="tab">M2M</a></li>
        <li><a data-target="#ptm" data-toggle="tab">PTM</a></li>
        <li><a data-target="#rrm" data-toggle="tab">RRM</a></li>
        <li><a data-target="#ffrp" data-toggle="tab">FFR</a></li>
        <li><a data-target="#mph" data-toggle="tab">MPH</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="donated">
            <h1>Donated Medical Equipment
                <small>(donated)</small>
            </h1>
            <p>Here's what we're all about.</p>
        </div>
        <div class="tab-pane" id="idea">
            <h1>IDEA-EMR</h1>
            <p>Here's what we're all about.</p>
        </div>
        <div class="tab-pane" id="m2m">
            <h1>Music2Movement
                <small>(M2M)</small>
            </h1>
            <p>Here's what we're all about.</p>
        </div>
        <div class="tab-pane" id="ptm">
            <h1>Phototherapy Monitor
                <small>(PTM)</small>
            </h1>
            <p>Here's what we're all about.</p>
        </div>
        <div class="tab-pane" id="rrm">
            <h1>Respiratory Rate Monitor
                <small>(RRM)</small>
            </h1>
            <p>Here's what we're all about.</p>
        </div>
        <div class="tab-pane" id="ffrp">
            <h1>Femur Fracture Research Project
                <small>(FFRP)</small>
            </h1>
            <p>Here's what we're all about.</p>
        </div>
        <div class="tab-pane" id="mph">
            <h1>Microscope Phone Holder
                <small>(MPH)</small>
            </h1>
            <p>Here's what we're all about.</p>
        </div>
    </div>
</section>

<hr class="divider">
