<section class="teams tab-panel" ng-cloak>
    <h1 class="section-heading text-left wow fadeIn">The Teams <i class="fa fa-users"></i></h1>
    <hr class="divider teams wow fadeIn">
    <ul class="nav nav-tabs wow fadeIn">
        <li class="active"><a data-target="#exec" data-toggle="tab">
            <span class="hidden-xs">Executive</span>
            <span><i class="visible-xs fa fa-black-tie"></i></span>
        </a></li>
        <li><a data-target="#man" data-toggle="tab">
            <span class="hidden-xs">Management</span>
            <span><i class="visible-xs fa fa-balance-scale"></i></span>
        </a></li>
        <li><a data-target="#bus" data-toggle="tab">
            <span class="hidden-xs">Business</span>
            <span><i class="visible-xs fa fa-briefcase"></i></span>
        </a></li>
        <li><a data-target="#bod" data-toggle="tab">
            <span class="hidden-xs">Board of Directors</span>
            <span><i class="visible-xs fa fa-building"></i></span>
        </a></li>
        <li><a data-target="#alum" data-toggle="tab">
            <span class="hidden-xs">Alumni</span>
            <span><i class="visible-xs fa fa-child"></i></span>
        </a></li>
        <li><a data-target="#spc" data-toggle="tab">
            <span class="hidden-xs">Special</span>
            <span><i class="visible-xs fa fa-star"></i></span>
        </a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active fade in" id="exec">
            <div class="pad">
                <h1>Executive Team&ensp;<i class="fa fa-black-tie hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in exec"
                         data-toggle="modal" data-target="#teams-profile-modal" ng-click="selectT(member)">
                    <div class="contents">
                        <div class="text-center">
                            <h3 class="name">{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3 class="position">{[ member.title ]}</h3>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="man">
            <div class="pad">
                <h1>Management Team&ensp;<i class="fa fa-balance-scale hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in man"
                         data-toggle="modal" data-target="#teams-profile-modal" ng-click="selectT(member)">
                    <div class="contents">
                        <div class="text-center">
                            <h3 class="name">{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3 class="position">{[ member.title ]}</h3>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="bus">
            <div class="pad">
                <h1>Business Team&ensp;<i class="fa fa-briefcase hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in bus"
                         data-toggle="modal" data-target="#teams-profile-modal" ng-click="selectT(member)">
                    <div class="contents">
                        <div class="text-center">
                            <h3 class="name">{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3 class="position">{[ member.title ]}</h3>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="bod">
            <div class="pad">
                <h1>Board of Directors&ensp;<i class="fa fa-building hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in bod"
                         data-toggle="modal" data-target="#teams-profile-modal" ng-click="selectT(member)">
                    <div class="contents">
                        <div class="text-center">
                            <h3 class="name">{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3 class="position" ng-show="member.title">{[ member.title ]}</h3>
                            <h3 class="position" ng-show="member.occupation">{[ member.occupation ]}</h3>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="alum">
            <div class="pad">
                <h1>Alumni & Advisors&ensp;<i class="fa fa-child hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in alum"
                         data-toggle="modal" data-target="#teams-profile-modal" ng-click="selectT(member)">
                    <div class="contents">
                        <div class="text-center">
                            <h3 class="name">{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3 class="position">{[ member.title ]}</h3>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane fade" id="spc">
            <div class="pad">
                <h1>Specialized Roles&ensp;<i class="fa fa-star hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in spc"
                         data-toggle="modal" data-target="#teams-profile-modal" ng-click="selectT(member)">
                    <div class="contents">
                        <div class="text-center">
                            <h3 class="name">{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3 class="position">{[ member.position ]}</h3>
                            <h3>
                                {[ member.year ]} Year {[ member.department ]}
                            </h3>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="modal fade profile-modal" id="teams-profile-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-center">
                <header class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>{[ selectedT.name ]}</h1>
                </header>
                <div class="modal-body">
                    <a ng-href="{[ selectedT.link ]}" target="_blank">
                        <img ng-src="{[ selectedT.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                    </a>
                    <h2 ng-show="selectedT.title">{[ selectedT.title ]}</h2>
                    <h2 ng-show="selectedT.occupation">{[ selectedT.occupation ]}</h2>
                    <p class="text-justify" ng-repeat="paragraph in selectedT.desc">{[ paragraph ]}</p>
                </div>
            </div>
        </div>
    </div>
</section>
