<section class="teams tab-panel" ng-cloak>
    <h1 class="section-heading text-left">The Teams <i class="fa fa-users"></i></h1>
    <hr class="divider teams">
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#exec" data-toggle="tab">
            <span class="hidden-xs">Executive</span>
            <span><i class="visible-xs fa fa-black-tie"></i></span>
        </a></li>
        <li><a data-target="#man" data-toggle="tab">
            <span class="hidden-xs">Management</span>
            <span><i class="visible-xs fa fa-balance-scale"></i></span>
        </a></li>
        <li><a data-target="#bus" data-toggle="tab">
            <span class="hidden-xs">Business</span>
            <span><i class="visible-xs fa fa-briefcase"></i></span>
        </a></li>
        <li><a data-target="#bod" data-toggle="tab">
            <span class="hidden-xs">Board of Directors</span>
            <span><i class="visible-xs fa fa-building"></i></span>
        </a></li>
        <li><a data-target="#alum" data-toggle="tab">
            <span class="hidden-xs">Alumni</span>
            <span><i class="visible-xs fa fa-child"></i></span>
        </a></li>
        <li><a data-target="#spc" data-toggle="tab">
            <span class="hidden-xs">Special</span>
            <span><i class="visible-xs fa fa-star"></i></span>
        </a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="exec">
            <div class="pad">
                <h1>Executive Team&ensp;<i class="fa fa-black-tie hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in exec">
                    <div class="contents">
                        <div class="text-center">
                            <h3>{[ member.name ]}</h3>
                            <a ng-href="{[ member.link ]}" target="_blank">
                                <img ng-src="{[ member.img ]}" alt="" class="img-circle"
                                     src="/static/img/placeholder.png">
                            </a>
                            <p class="lead">{[ member.title ]}</p>
                            <p class="text-justify" ng-repeat="paragraph in member.desc">{[ paragraph ]}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane" id="man">
            <div class="pad">
                <h1>Management Team&ensp;<i class="fa fa-balance-scale hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in man">
                    <div class="contents">
                        <div class="text-center">
                            <h3>{[ member.name ]}</h3>
                            <a ng-href="{[ member.link ]}" target="_blank">
                                <img ng-src="{[ member.img ]}" alt="" class="img-circle"
                                     src="/static/img/placeholder.png">
                            </a>
                            <p class="lead">{[ member.title ]}</p>
                            <p class="text-justify" ng-repeat="paragraph in member.desc">{[ paragraph ]}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane" id="bus">
            <div class="pad">
                <h1>Business Team&ensp;<i class="fa fa-briefcase hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in bus">
                    <div class="contents">
                        <div class="text-center">
                            <h3>{[ member.name ]}</h3>
                            <a ng-href="{[ member.link ]}" target="_blank">
                                <img ng-src="{[ member.img ]}" alt="" class="img-circle"
                                     src="/static/img/placeholder.png">
                            </a>
                            <p class="lead">{[ member.title ]}</p>
                            <p class="text-justify" ng-repeat="paragraph in member.desc">{[ paragraph ]}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane" id="bod">
            <div class="pad">
                <h1>Board of Directors&ensp;<i class="fa fa-building hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in bod">
                    <div class="contents">
                        <div class="text-center">
                            <h3>{[ member.name ]}</h3>
                            <a ng-href="{[ member.link ]}" target="_blank">
                                <img ng-src="{[ member.img ]}" alt="" class="img-circle"
                                     src="/static/img/placeholder.png">
                            </a>
                            <p class="lead" ng-show="member.title">{[ member.title ]}</p>
                            <h5 ng-show="member.occupation">{[ member.occupation ]}</h5>
                            <p class="text-justify" ng-repeat="paragraph in member.desc">{[ paragraph ]}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane" id="alum">
            <div class="pad">
                <h1>Alumni & Advisors&ensp;<i class="fa fa-child hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in alum">
                    <div class="contents">
                        <div class="text-center">
                            <h3>{[ member.name ]}</h3>
                            <a ng-href="{[ member.link ]}" target="_blank">
                                <img ng-src="{[ member.img ]}" alt="" class="img-circle"
                                     src="/static/img/placeholder.png">
                            </a>
                            <p class="lead">{[ member.title ]}</p>
                            <p class="text-justify" ng-repeat="paragraph in member.desc">{[ paragraph ]}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab-pane" id="spc">
            <div class="pad">
                <h1>Specialized Roles&ensp;<i class="fa fa-star hidden-xs"></i></h1>
            </div>
            <div class="profile-wrapper">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in spc">
                    <div class="contents">
                        <div class="text-center">
                            <h3>{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3>{[ member.position ]}</h3>
                            <p class="lead">
                                {[ member.year ]} Year {[ member.department ]}
                            </p>
                            <p class="text-justify" ng-repeat="paragraph in member.desc">{[ paragraph ]}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
