<section class="teams tab-panel" id="teams" ng-cloak>
    <h1 class="section-heading text-left wow fadeIn red">
        Teams
    </h1>
    <hr class="divider teams wow fadeIn">
    <ul class="nav nav-tabs wow fadeIn">
        <li ng-class="{ 'active': isTabT($index) }" ng-repeat="team in teams" ng-click="setTabT($index)">
            <a data-target="#{[ team.id ]}" data-toggle="tab">
                <span class="hidden-xs">{[ team.tab ]}</span>
                <span><i class="visible-xs fa" ng-class="team.icon"></i></span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in" ng-class="{ 'active': isTabT($index) }" id="{[ team.id ]}"
             ng-repeat="t in teams">
            <div class="pad">
                <h1>{[ team.name ]}&ensp;<i class="fa hidden-xs" ng-class="team.icon"></i></h1>
            </div>
            <div class="profile-wrapper" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="100"
                 data-stellar-horizontal-offset="1000">
                <section class="panel panel-default profile animated fadeInRight" ng-repeat="member in team.members"
                         data-toggle="modal" data-target="#teams-profile-modal" ng-click="selectT(member)">
                    <div class="contents">
                        <div class="text-center">
                            <h3 class="name">{[ member.name ]}</h3>
                            <img ng-src="{[ member.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                            <h3 class="position" ng-show="member.title">{[ member.title ]}</h3>
                            <h3 class="position" ng-show="member.occupation">{[ member.occupation ]}</h3>
                        </div>
                    </div>
                </section>
            </div>
            <script>
                $('.profile-wrapper').stellar({
                    horizontalScrolling: true
                })
            </script>
        </div>
    </div>

    <div class="modal fade profile-modal" id="teams-profile-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-center">
                <header class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>{[ selectedT.name ]}</h1>
                </header>
                <div class="modal-body">
                    <a ng-href="{[ selectedT.link ]}" target="_blank">
                        <img ng-src="{[ selectedT.img ]}" alt="" class="img-circle" src="/static/img/placeholder.png">
                    </a>
                    <h2 ng-show="selectedT.title">{[ selectedT.title ]}</h2>
                    <h2 ng-show="selectedT.occupation">{[ selectedT.occupation ]}</h2>
                    <p class="text-justify" ng-repeat="paragraph in selectedT.desc">{[ paragraph ]}</p>
                </div>
            </div>
        </div>
    </div>
</section>
